{{!-- <div class="container">
  <div class="row">
    <div class="col-8 offset-2"> --}}
      <div id="map-canvas"></div>
      <div id="output"></div>
      <div id="log"></div>
      <script id="location-template" type="text/x-handlebars-template">
  <div class="location-entry">
    <h2>{{name}}</h2>
    <div class="body">
      {{description}}
    </div>
  </div>
</script>
      <script id="services-template" type="text/x-handlebars-template">
  <div class="service-entry">
    <div class='imgwrap'>
      <img src="{{serviceImage}}" />
    </div>
    <div class="contentWrap">
      <h3>{{name}}</h3>
      <div class="body">
        {{description}}
      </div>
    </div>
  </div>
   {{!-- </div>
    </div>
     </div> --}}
</script>

      {{!-- <div class="container">
        <div class="row">
          <div class="col-8 offset-2">
            <div class="card mt-4">
              <div class="card-body">
                <h5 class="card-title">Example</h5>
                <p>
                  <strong>ID</strong>: {{example.id}}</p>
                <p>
                  <p>
                    <strong>Text</strong>: {{example.text}}</p>
                  <p>
                    <strong>Description:</strong> {{example.description}}</p>
                  <a href="/">← Back To Home</a>
              </div>
            </div>
          </div>
        </div>
      </div> --}}